/*                                                  
+------------------------------------------+                   
|             LESS Publication             |                   
| ________________________________________ |                   
|  22-68		        reset CSS          |                   
|  73					Google Font        |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
+------------------------------------------+                   
*/
/*Reset CSS 
From http://meyerweb.com/eric/tools/css/reset/
*/

*{
	padding: 0;
	margin: 0;
}

@import url(http://fonts.googleapis.com/css?family=Quicksand);

//Variables
@opacity:0.6;
@defalutLayer:rgba(239,45,45,@opacity);
@defaultTextColor: rgba(0, 0, 0, 0);
@defalutBackground:rgba(239, 45, 45, 1);


//Mixins
//Définis la font de base (Quicksand) avec les paramètre de base (possibilité de changer chaque paramètre) 
.font(@fontFamily: 'Quicksand', sans-serif;@fontWeight: normal; @fontStyle: normal) {
    font-family: @fontFamily;
    font-style: @fontStyle;
    font-weight: @fontWeight;
    color:rgba(255,255,255, 0);
    text-transform: uppercase;
}
//défini la base de chaque mini-panel

.DefaultPanel(){
	height: 250px;
	.font();

}


//Class
.panel{
	.DefaultPanel();
}

.fifty{
	width: 50% !important;
}

.twenty{
	width: 33% !important;
}

.ten{
	width: 17% !important;
	
}
.small{
 background-color: @defalutBackground;
 height: 130px ;
}

h1,h3{
	font-weight: normal;
}



.layer{
		width:100%;
		height:100%;
		background: @defalutLayer;
		padding: 0;
		margin: 0;
		
	}

//Panel des e-papers
#row1{
.font;
		
	#epaper{
background: url('./../img/header.jpg') no-repeat center;
		-webkit-background-size: cover;
		padding: 0;
		height: 250px;
		vertical-align: center;
		#layer{
			width:auto;
			height:250px;

		}
		#texte_epaper {
			.font();
			font-size: 40px !important;
			font-decoration : none;
			margin: 0 auto ;
			margin-top: 4%;

		}
		#img_epaper{
			display: block;
			height: 75px;
			width: auto;
		}
	}
}



#row2{
margin: 25px 0px 25px 0px;
	.font;
	#news{
		display: block;
		background: #ef2d2d;
		#plume{
			height: 30px;
			width: auto;
			position: relative;
			left: 90%;
			right: auto;
		}
		ul{

			li{
				vertical-align: center;
				.font;
				a{
					text-decoration: none;
					color: @defaultTextColor;
				}
			}
			li::before{
				content:url('./../img/circle-right.png');
			}
		}
		ul:nth-child(even){
			background-color:#d62829;
		}

		ul:nth-child(odd){
			background-color:@defalutBackground;
		}
	}
	#village{
		background: url('./../img/commune.jpg') no-repeat center;
		-webkit-background-size: cover;
		#texte_village{
			font-size: 40px !important;
			padding-left: 20px !important;
		}
		
			#banner{
				position: relative;
				margin:15px auto auto auto ;
				height:35% ;
				width: 100%;
				background-color: red;
			}
			iframe{
				width: 100%;
				img{
					
				}

			}
	}
	#pub{
		margin: 0px 25px 25px 25px;
		background: url('./../img/pub.jpg') no-repeat center;
		-webkit-background-size: cover;
		#slideshow > div { 
    position: relative; 
    top: 1px; 
    left: 1px; 
    right: 1px; 
    bottom: 1px; 
}
#slideshow  img{
	max-width: 100px;
	height: auto;
}

	}
	#jeunesse{
		margin: 25px 25px 0px 25px;
		background: url('./../img/cloud.jpg') no-repeat center;
		-webkit-background-size: cover;
			text-align: center;

		#logo_fvjc{
			height: auto;
			width: 50%;
		}
	}

}

#row3{
	.font;
	#diapo{
		margin-right: 25px;
		background: url('./../img/galerie.jpg') no-repeat center;
		-webkit-background-size: cover;


		#diapo_img{
		display: block;
			#carre{
				width:100px;
				height:100px;
				background:@defalutLayer;
				-webkit-transform: rotate(-45deg);/* t rotation de -45 degrés */
				-moz-transform:  rotate(-45deg);
				-o-transform:  rotate(-45deg);
				transform:  rotate(-45deg);
				margin:74px auto 0px 160px;
			}
			#photo{
				height: auto;
				width: 80px;
				margin:-85px auto 0px 170px;
				z-index: 999;
				position:absolute;
			}
			
		}
	}
	#concours{
		width: 48%!important;
		background-color: @defalutBackground;
		text-align: center;

		h1{
					margin-top: 4%;

		}
		#img_concours{
			width: 50px;
			height: auto ;
					margin-top: 4%;
		}
	}
	#restaurant{
		margin-left: 25px;
		margin-bottom: 10px;
		background: url('./../img/restaurant.jpg') no-repeat center;
		-webkit-background-size: cover;
		text-align: center;
		h1{
		padding-top: 6%;
		}
	}
	#abbo{
		text-align: center;
		margin-left: 25px;
		margin-top: 10px;
		a{
			text-decoration: none;
			color: @defaultTextColor;
		}

		img{
			margin-right: 0;
		}


	}
}
