@import url(http://fonts.googleapis.com/css?family=Quicksand);
/*                                                  
+------------------------------------------+                   
|             LESS Publication             |                   
| ________________________________________ |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
|                                          |                   
+------------------------------------------+                   
*/
.DefaultPanel {
  height: 33%;
  width: 100%;
  background-color: pink;
}
* {
  margin: 0 !important;
  padding: 0!important;
}
.panel {
  height: 33%;
  width: 100%;
  background-color: pink;
}
#panel1 #first_panel {
  background: url('../img/header.jpg') no-repeat center;
  -webkit-background-size: cover;
}
#panel1 #first_panel #header {
  width: 100%;
  z-index: 0;
  opacity: 0.6;
}
#panel1 #first_panel #layer {
  width: 100%;
  height: 266px;
  background: rgba(239, 45, 45, 0.6);
  margin: 0;
}
#panel1 #first_panel #layer #texte_panel1 {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px !important;
  color: rgba(0, 0, 0, 0);
  font-decoration: none;
  text-align: center;
}
#panel1 #first_panel #layer img {
  display: block;
  height: 100px;
  width: auto;
}
#panel1 ui-bar ui-bar-a {
  height: 60px;
}
